.cell {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

.figure {
  width: 36px;
  height: 36px;
  object-fit: contain;
}