.page {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.game-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden; 
}

.game-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 446px;
  margin: 0 auto;
}

.game-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  overflow: hidden; 

  
}

.game-field-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.level-name {
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  color: #FFFFFF;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}

.left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.game-logo {
  width: 100px;
  object-fit: contain;
  height: 40px;
}


@media (max-aspect-ratio: 1/1) {
  .game-content {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .game-logo {
    display: none;
  }



}
