.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* центрирует по вертикали */
  min-height: 100vh; /* занимает всю высоту экрана */
  margin: 0 auto; /* центрирует по горизонтали если есть max-width */
  max-width: 1200px; /* опционально: ограничить максимальную ширину */
  width: 100%;
  padding: 20px; /* равные отступы со всех сторон */
  box-sizing: border-box;
}

.game-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info {
  display: flex;
  align-items: center;
  justify-content: space-between; /* первый у левого края, последний у правого */
  width: 100%; /* занимает всю ширину */
  max-width: 446px; /* ограничение ширины */
  margin: 0 auto; /* центрирование если родитель шире */
}

.game-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.game-field-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.level-name {
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  color: #FFFFFF;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}

.left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.game-logo {
  width: 100px;
  object-fit: contain;
  height: 40px;
}




@media (max-width: 768px) {
  .game-field-section {
    transform: scale(0.88);
  }
  .game-content {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .game-logo {
    display: none;
  }
}